{% load static from staticfiles %}
{% block navbar %}
<aside >
  <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

          <p class="centered"><a href="profile.html"><img src="{% static "images/icon.png" %}" class="img-circle" width="60" style="background-color: #fafafa"></a></p>
          <h5 class="centered">Bernard Ojengwa</h5>

          <li class="mt">
              <a class="active" href="/dashboard">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
              </a>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-th"></i>
                  <span>Workspaces</span>
              </a>
              <ul class="sub">
                  <li><a  href="/workspace">General</a></li>
              </ul>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-sitemap"></i>
                  <span>Hubs</span>
              </a>
              <ul class="sub">
                  <li><a  href="/hub">Calendar</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-cogs"></i>
                  <span>Settings</span>
              </a>
              <ul class="sub">
                  <li><a  href="/account">My Account</a></li>
                  <li><a  href="/settings">Organisation</a></li>
              </ul>
          </li>
          <hr class="divider">
          <li class="menu">
              <a href="/plugins" >
                  <i class=" fa fa-plug"></i>
                  <span>Plugins</span>
              </a>
          </li>
          <li class="menu">
              <a href="/hubs" >
                  <i class=" fa fa-globe"></i>
                  <span>Find Hubs</span>
              </a>
          </li>

      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->

{% endblock navbar %}