{% load static from staticfiles %}

{% include "account/header.html" %}
{% include "account/footer.html" %}
{% include "account/nav.html" %}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Plugins</h3>
      <div class="row mt">
        <div class="col-lg-12">
                <div class="content-panel">
                    <h4 class="pull-right"><a href="" class="btn btn-default logout">Write Plugin</a></h4>
                    <section id="no-more-tables">
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                            <tr>
                                <th>Code</th>
                                <th>Developer</th>
                                <th>Description</th>
                                <th class="numeric">Price</th>
                                <th class="numeric">Plan</th>
                                <th class="numeric">Status</th>
                                <th class="numeric">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td data-title="Code">AAC</td>
                                <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                                <td class="numeric" data-title="Price">$1.38</td>
                                <td class="numeric" data-title="Change">-0.01</td>
                                <td class="numeric" data-title="Change %">-0.36%</td>
                                <td class="numeric" data-title="Open">$1.39</td>
                                <td>
                                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Code">AAD</td>
                                <td data-title="Company">ARDENT LEISURE GROUP</td>
                                <td class="numeric" data-title="Price">$1.15</td>
                                <td class="numeric" data-title="Change">  +0.02</td>
                                <td class="numeric" data-title="Change %">1.32%</td>
                                <td class="numeric" data-title="Open">$1.14</td>
                                <td>
                                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Code">AAX</td>
                                <td data-title="Company">AUSENCO LIMITED</td>
                                <td class="numeric" data-title="Price">$4.00</td>
                                <td class="numeric" data-title="Change">-0.04</td>
                                <td class="numeric" data-title="Change %">-0.99%</td>
                                <td class="numeric" data-title="Open">$4.01</td>
                                <td>
                                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->

  </section><!-- /wrapper -->
</section><!-- /MAIN CONTENT -->

<!--main content end-->